@media (max-width:479px) { 
	.main-slider .item  { height:0;	}
}
@media (min-width:480px) and (max-width:767px) { /* мое дополнение к bootstrap !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
	/* грузим в background слайдера крохотные картинки для крохотных мониторов */
	.main-slider .item {
		background-image:url(../img/xs_header_slide2.jpg);
    height:270px;
	}
	.main-slider .item:first-of-type { background-image:url(../img/xs_header_slide1.jpg); }
	.main-slider .item:last-of-type { background-image:url(../img/xs_header_slide3.jpg); }
}
@media (min-width:768px) and (max-width:991px) { 
	/* грузим в background слайдера маленькие картинки для маленьких мониторов */
	.main-slider .item {
		background-image:url(../img/sm_header_slide2.jpg);
    height:465px;
	}
	.main-slider .item:first-of-type { background-image:url(../img/sm_header_slide1.jpg); }
	.main-slider .item:last-of-type { background-image:url(../img/sm_header_slide3.jpg); }
}
@media (min-width:992px) and (max-width:1199px) {
	/* грузим в background слайдера средние картинки для средних мониторов */
	.main-slider .item {
		background-image:url(../img/md_header_slide2.jpg);
    height:560px;
	}
	.main-slider .item:first-of-type { background-image:url(../img/md_header_slide1.jpg); }
	.main-slider .item:last-of-type { background-image:url(../img/md_header_slide3.jpg); }
}
@media (min-width:1200px) {
	/* грузим в background слайдера большие картинки для больших мониторов */
	.main-slider .item {
		background-image:url(../img/lg_header_slide2.jpg);
		height:620px;
	}
	.main-slider .item:first-of-type { background-image:url(../img/lg_header_slide1.jpg); }
	.main-slider .item:last-of-type { background-image:url(../img/lg_header_slide3.jpg); }
}

.main-slider .item {
	background-position:center;
	background-repeat:repeat-x;
	background-size:cover;
	border:medium none;
	margin:0;
	padding:0;
}
